body {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

h1,h2,h3,h4 {
    font-weight: lighter;
}
b {
    font-weight: 900;
}
button {
    padding-right: 1cm !important;
    padding-left: 1cm !important;
}
nav {
    display: flex;
    justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: rgb(244, 244, 244);
}
#tag {
    margin: 0 1cm 0 1cm;
}
#tag > p {
    margin: 0;
    text-align: center;
}
span {
    background-color: rgb(240, 255, 0);
    font-size: unset !important;
}
ul {
    display: flex;
        align-items: center;
        margin: 0;
}
li {
    list-style-type: none;
    margin: 0 1cm 0 1cm;
}
a {
    color: blue;
    text-decoration: none;
}
header {
    display: flex;
    align-items: center;
        flex-wrap: wrap;
    background-color: rgb(244, 244, 244);
    padding-bottom: 2cm;
    margin-bottom: 1cm;
}
#Intro {
    display: flex;
    text-align: center;
    width: 11cm;
}
#Intro h3 {
    font-size: 1.2cm;
    margin: 0;
}

.FundoTexto h3 {
    font-size: 1cm;
    margin-left: 1cm;
}
.FundoTexto span {
    display: block;
    transform: translateY(-25.5px);
    height: 150px !important;
    width: 750px !important;
    position: relative;
    z-index: -1;
}
#CvPai {
    width: 500px;
    margin: auto;
    margin-bottom: 1cm;
}
#CvFilho {
    width: 350px;
    margin: auto;
    margin-bottom: 1cm;
    margin-left: 30%;
    text-align: justify;
}
#CvFilho h3 {
    font-size: 33px;
    line-break: anywhere;
}
#CvFilho span {
    background-color: rgb(15, 14, 14);
    color: white;
    padding: 1.5px;
}
#Contato {
    margin-top: 4cm;
}

#ImgAtras {
    position: absolute;
        z-index: 0;
        right: -140px;
        top: -150px;
}

#ContatoPai {
    margin: auto;
        margin-top: 1cm;
        margin-bottom: 1cm;
    padding: 1cm;
        padding-left: 2cm;
            padding-right: 2cm;
    text-align: justify;
        width: 811px;
        background-color: rgb(244, 244, 244);
        position: relative;
        z-index: 1;
}
#ContatoFilho {
    margin: 1cm;
}
#ContatoFilho h3 {
    font-size: 1.3cm;
    
}

@media screen and (max-width: 767px) {
    #ContatoPai {
        width: 100%;
        margin: 0;
        padding: 20px;
    }
}
#GrupoCard {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 230px;
    height: 300px;
    margin: 0 auto;
    background-color:rgb(244, 244,244);
    border-radius: 8px;
    z-index: 1;
}
.cardTopo{
    display: flex;
    align-items: center;
    padding: 9px;
}
.Bola {
    padding: 0 4px;
}
.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}
.red {
    background-color: #ff605c;
}
.yellow {
    background-color: #ffbd44;
}
.green {
    background-color: #00ca4e;
}
.card_content {
     padding: 15px 20px;
}
.card_content h3 {
    font-size: 1rem;
}
.card_content p {
    font-size: 0.75rem;
}
.tags img{
    width: 22px;
        height: 22px;
    filter: invert(1);
}
